body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*your new font:*/
    font-family: 'Cinzel', serif;
    /*background-color: #88CC88; /*light green*/
    /*color: #004400; /*dark green*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    /*background-color: #004400; /*dark green*/
    /*color: #88CC88; /*light green*/
    /*font-size: 120%;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.clothingInList{
    max-width: 250px;
}

.lead{
    /*font-size: 120%;*/
}

.topsIntro {
    background-image: url('p1topsintro.jpg');
}

.bottomIntro {
    background-image: url('p1bottomsintro.jpg');
}

.feetIntro {
    background-image: url('p1shoesintro.jpg');
}

.flairIntro {
    background-image: url('p1flairintro.jpg');
}

footer{
    /*background-color: #004400; /*dark green*/
    /*color: #88CC88; /*light green*/
}
