@{
    ViewBag.Title = "Home Page";
}

@*jumbotron simplified a lot. more like a page heading.*@

<div class="Jumbotron">
    <h1>The Green Room</h1>
    <h2>Where dancers design their costumes.</h2>
</div>

<div class="row">
    <h2 class="center">
        Browse our inventory:
    </h2>
</div>

@*standard 3 columns turned into 4*@

    <div class="row">
        <div class="col-md-3">
            <div class="fourIntro">

                @*you're gonna try making the the whole photo the button*@
                @*to link to clothing. DONE*@

                <h3>
                    Tops
                    </h3>
                <p>
                    <a href=@Url.Action( "Index", "Tops")>
                        <img src="~/Content/p1topsintro.jpg" alt="sparkly tank top" />
                    </a>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fourIntro">
                <h3>
                    Bottoms
                </h3>
                <p>
                    <a href=@Url.Action( "Index", "Bottoms")>
                        <img src="~/Content/p1bottomsintro.jpg" alt="dance pants" />
                    </a>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fourIntro">
                <h3>Feet</h3>
                <p>
                    <a href=@Url.Action( "Index", "Feet")>

                        <img src="~/Content/p1shoesintro.jpg" alt="tap shoes" />
                    </a>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fourIntro">
                <h3>Flair</h3>
                <p>
                    <a href=@Url.Action( "Index", "Accessories")>

                        <img src="~/Content/p1flairintro.jpg" alt="fan" />
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h2>Costume Creation</h2>
        <p class="lead">
            Need a costume? Check out our ready-made creations.<br />
            Or design your own for others to wear!
        </p>
        <p>
            <a href=@Url.Action("Index", "Outfits")
               class="btn btn-primary btn-lg">
                Costumes
            </a>
        </p>
    </div>
