@{
    ViewBag.Title = "Home Page";
}

<div class="plainIntro">
    <h1 class="lead">The Green Room</h1>
    <h2 class="lead">Where dancers design their costumes.</h2>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-3">
        <div class="topsIntro">
            @*<h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>*@

            @*you're gonna try making the button large OR making the whole pick the button*@
            @*also making it link to tops, not a website.*@

            <p>
                Tops
                @*<a href="Url.Action("Index", "Tops")">*@
                    <a> <img src="~/Content/p1topsintro.jpg" alt="sparkly tank top" />
                @Url.Action("Tops", "Tops")
                    </a>
            </p>

            @*<p><a class="btn btn-default" href=@Html.ActionLink("Tops", "Index", "Tops")></a></p>*@
        </div>
    </div>
    <div class="col-md-3">
        <div class="bottomsIntro">
            
            <p><a class="btn btn-default" href="Url.Action("Index, "Bottoms")">Bottoms &raquo;</a></p>
        </div>
        </div>
    <div class="col-md-3">
        <div class="feetIntro">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
        </div>
    <div class="col-md-3">
        <div class="flairIntro">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        </div>
</div>

<div class="jumbotron">
    <h2>Ready-made costumes</h2>
    <p class="lead">Need a full outfit? Check out our ready-made outfits. Or build your own for others to use!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>